.titular-discografia{
    h1{
        color: $color-tercero ;
        margin-top: 167px;
        margin-left: 170px;
        font-size: 103px;
        width: 450px;
    }
}
.proximamente-discografia{
    background-color: $color-secundario;
    height: 500px;
    color: $color-tercero;
        h2{
            text-align: center;
            font-size: 130px;
            padding: 150px 0;
            margin-left: 30px;
        }
            p{
                font-size: 100px;
            }
}
@media (max-width:768px){
    .titular-discografia{
        h1{
            font-size: 50px;
            margin-left: 90px;
        }
    }
    .proximamente-discografia{
        h2{
            font-size: 50px;
        }
            p{
                margin-top: 50px;
                font-size: 30px;
            }
    }
}

