.header-pages{
    background-color:$color-secundario;
    background-image: url(../imagenes/header-nosotros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
        .titular-nosotros{
            h1{
                color: #ffffff;
                margin-top: 167px;
                margin-left: 170px;
                font-size: 103px;
            }
        }
}
main{
     p{
        font-family: Anonymous Pro;
        }
        .contenedor-texto-nosotros{
            display: flex;
            padding: 30px;
            background-color: $color-tercero;

            img{
                width: 260px;
                margin: 30px 10px
            }
                p{ 
                    padding: 10px;}  

                .texto-izquierda-nosotros, .texto-derecha-nosotros{
                    margin: 15px;
                    line-height: 30px;
                    width: 50%;
                }
                    .fechas-nosotros{
                        display: flex;
                        justify-content: space-between;
                        width: 78%;
                        margin-top: 50px;
                        border-bottom: 1px solid #00000048;
                                .numero-nosotros{
                                    font-size: 30px;
                                    color: #111;
                                    background-color: #FAE100;
                                    margin-left: 5px;
                                    border-radius: 2px;
                                    padding: 5px 10px;
                                    line-height: 30px;
                                    border-radius: 20px ;
                                }
                                .lugar-nosotros{
                                    margin-left: 30px;
                                    margin-right: 30px;
                                    font-size: 20px;
                                }
                                .fechas-nosotros{
                                    font-size: 15px;
                                }
                    }
                                    .h4-nosotros{
                                        margin: 20px 0;
                                        width: 480px;
                                    }          
                                    .h6-nosotros{
                                        margin: 20px;
                                        border-bottom: 1px solid black;
                                        width: 190px;
                                    }
            }
        .banda-nosotros{
            background-color: $color-principal;
                h2{
                    padding-top: 20px;
                    text-align: center;
                    margin-bottom: 20px;
                    font-size: 48px;
                }
            }
            .miembros-nosotros{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                    h4{
                        margin-left: 630px ;
                        padding-top: 20px;
                        width: 80px;
                        text-align: center;
                        border-radius: 10px;
                    }
                        img{
                            margin-left: 65px;
                            height: 250px;
                            width: 250px;
                        }
                            h4{
                                margin-top: 15px;
                                line-height: 20px;
                                margin-left: 125px;
                            }
                                p{
                                    margin-top: 15px;
                                    line-height: 20px;
                                    margin-left: 50px;
                                }
                                    .miembros-info-nosotros{
                                        margin: 20px ;
                                    }
            }
 } 

@media (max-width: 600px) {
    .header-pages{
        h5{
            font-size: 25px ;
        }
            .titular-nosotros{
                h1{
                    font-size: 50px;
                    margin-left: 90px;
                }
            }
    }
    .contenedor-texto-nosotros{
        flex-direction: column;
        padding: 30px;
        background-color: $color-tercero;
            .texto-izquierda-nosotros, .texto-derecha-nosotros{
                line-height: 30px;
        }
    }
.banda-nosotros{
    .miembros-nosotros{
        display: flex;
        flex-direction: column;
    }
}
}